* {
    color: #313144;
  }
  
  
  h1, .title {
    font-family: 'Josefin Sans', cursive;
  }

  .scoreList {
    list-style: none;
  }

  .scoreList li {
    border: 1px solid rgba(180, 177, 169, 0.664);
  }

  .pair {
    background-color: rgba(201, 207, 193, 0.753);
  }

  .impair {
    background-color: rgba(231, 231, 216, 0.699);
  }