

  * {
    font-family: 'Josefin Sans', cursive;
  }


  
  hr {
    background: rgba(189, 183, 167, 0.534); 
    box-shadow: 0 0 10px rgba(94, 85, 68, 0.171);;
  
  }
  
.topCont {
  background-color: rgba(226, 241, 204, 0.507);
}

.botCont {
  background-color: rgba(226, 238, 237, 0.507);
}

.signButton {
  border-right: 2px solid rgba(112, 110, 110, 0.815)
}