.global {
    min-height: 100vh;
}

.main {
    box-shadow: 0 0 10px rgba(210, 231, 231, 0.685);
    background-color: rgb(228, 228, 220);

}

.contenant {
    padding-top: 10em;
    width: 100%;
    overflow-x: hidden;
}



